
#game-container {
  /* font-family: 'Black Ops One', cursive; */
  font-family: 'Squada One', cursive;
  background: rgb(0, 0, 0);
  display: inline-block;
  color: chartreuse;
  align-items: center;
  width: 1200px; 
  /* height: 1500px; */
  border: 1px solid chartreuse;
  align-self: center;
  justify-self: center;
}

#all-info-container {
  display: flex;
  flex-direction: row;
}

#computer-ship-dashboard {
  margin-left: 100px;
}



.info-banner {
  font-family: 'Black Ops One', cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  width: 300px;
  height: 80px;
  padding: 1rem;
}

#game-log{
  width: 90%;
  height: 300px;
  padding: 2%;
  flex-direction: column-reverse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow:auto;
}

#upper-info-bar {
  display: flex;
  flex-direction: row;
}

#game-info-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 2rem;
}

.info-box{
  background: rgb(0, 0, 0);
  display: flex; 
  
  margin: 2rem 1rem 2rem 1rem;
  /* margin-bottom: 25px; */
  /* margin-top: 25px; */
  
  vertical-align: middle;
  border: 4px solid chartreuse;
}

#player-board {
  display: flex; 
  flex-direction: column; 
  width: 350px; 
  height: 350px
}
#computer-board {
  display: flex; 
  flex-direction: column; 
  /* margin-left: 100px; */
  width: 350px; 
  height: 350px
}

.game-board{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.board-row-label {
  display: flex; 
  height: 33%;
  /* margin-left: 10%; */
  flex-direction: row; 
  justify-content: space-around; 
  background-color: black;
  /* border: 1px chartreuse solid;  */
}

.top-row-label {
  display: flex; 
  height: 10%;
  margin-left: 10%;
  flex-direction: row; 
  justify-content: space-around; 
  background-color: black;
}

.left-column-label{
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 20px);
  grid-template-rows: repeat(11, 20px);
  gap: 1px;
  background-color: chartreuse;
}

.middle-content{
  display: flex;
  flex: 1;
}

#player-above-label {
  position: relative;
  left: 22.5rem; 
}
#cpu-above-label {
  position: relative;
  left: 52rem; 
}

.hover-red:hover {
  background-color:rgb(255, 0, 0) !important;
}
.hover-blue:hover {
  background-color:rgb(2, 68, 0) !important;
}

.cell-ship-strike {
  background: rgb(87, 1, 1) !important;
  justify-content: center;
  flex: 1; 
  height: 100%;
  border-width: 1px;
  border-color: chartreuse;
  border-style: solid;
  color: black;
}

.game-cell {
   /* center the cell content */
  justify-content: center;
  flex: 1; 
  height: 100%;
  border-width: 1px;
  border-color: chartreuse;
  border-style: solid;
  font-family: Arial;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  background: rgb(0, 0, 0);
}
.cell {
   /* center the cell content */
  justify-content: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 1rem;
  color: chartreuse;
  font-weight: bold;
  background: rgb(0, 0, 0);
}
.cell-row-label {
   /* center the cell content */
  justify-content: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 1rem;
  color: chartreuse;
  font-weight: bold;
  background: rgb(0, 0, 0);
}

.ship-dashboard {
  width: 120px;
  height: 300px;
  padding-top: 40px;
  /* border: 1px solid chartreuse; */
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.ship-row {
  display: flex;
  flex-direction: row;
}

.ship-blocks {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid chartreuse;
}

.cell-selected {
  background: chartreuse !important;
  /* border: 1px black solid; */
}

.cell-ship-present {
  background: rgb(101, 202, 0);
  /* border-color: black; */

}

#game-over-banner {
  font-size: 3rem;
  font-family: 'Black Ops One', cursive;
  width: 30rem;
  height: 10rem;
  background-color: #000000;
  border: 0.3rem solid #ff0007;
  color: chartreuse;
  text-align: center;
  position: absolute;
  top: 20rem;
  left: 22rem;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

#game-over-banner.show {
  visibility: visible;
}


.cell-shot-miss {
  background: rgb(1, 68, 1);
  justify-content: center;
  flex: 1; 
  height: 100%;
  border-width: 1px;
  border-color: chartreuse;
  border-style: solid;
  color: black;
}



.player-cell {

}

.computer-cell {

}

.page-body {
  background-color: black;
  justify-content: center;
  align-items: center;

}
